body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/pic.jpeg");
  height: 100%;
}

a {
  color: #96b8c5;
}



h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
}

h1 {
  background-color: rgba(233, 121, 77, 0.42);
  color: #111s;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
h3 {
  background-color: rgba(233, 121, 77, 0.32);
  color: #111s;
  padding: 18px;
  font-size: 18px;
  letter-spacing: 10px;
}